<!doctype html>
<html lang="en">
  <head>
	<title>Test</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
	<div class="row">
		<div class="container">
			<form action="/auth/login" method="POST">
			<div class="form-group col-md-5">
			  <label for="username">Login</label>
			  <input type="text" name="username" id="username" class="form-control" placeholder="username" aria-describedby="helpId">
			  <input type="password" name="password" id="password" placeholder="password" class="form-control">
			  <button type="submit" class="btn btn-primary">Login</button>
			  <a name="" id="" class="btn btn-primary" href="/auth/oauth/google" role="button">Google Login <i class="fa fa-google" aria-hidden="true"></i></a>
			  <!-- <a name="" id="" type="submit" href="login" class="btn btn-primary" role="button">Login</a> -->
			  <!-- <a name="" id="" class="btn btn-primary" href="login" role="button"></a> -->
			</div>
		</form>
		</div>
	</div>

  </body>
</html>